<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czly.mapper.WebLogMapper" >
  <resultMap id="BaseResultMap" type="com.czly.entity.WebLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="remotAddr" property="remotAddr" jdbcType="VARCHAR" />
    <result column="module" property="module" jdbcType="VARCHAR" />
    <result column="createdby" property="createdby" jdbcType="VARCHAR" />
    <result column="updatedby" property="updatedby" jdbcType="VARCHAR" />
    <result column="creationtime" property="creationtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
   <resultMap id="BaseUVPVResultMap" type="com.czly.entity.UVPVLog" >
    <result column="uv" property="uv" jdbcType="INTEGER" />
    <result column="pv" property="pv" jdbcType="INTEGER" />
    <result column="module" property="module" jdbcType="VARCHAR" />
    <result column="creationtime" property="creationtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, remotAddr, module, 
      createdby, updatedby, creationtime,updatetime
  </sql>
  <sql id="Base_UVPV_Column_List" >
    uv, pv,creationtime
  </sql>
   <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_weblog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.czly.entity.WebLog" >
    insert into t_weblog (id, remotAddr,remotAddr,
      createdby, updatedby, creationtime, 
      updatetime)
    values (#{id,jdbcType=INTEGER}, #{remotAddr,jdbcType=VARCHAR},#{remotAddr,jdbcType=VARCHAR},
      #{createdby,jdbcType=VARCHAR}, #{updatedby,jdbcType=VARCHAR}, #{creationtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_weblog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.czly.entity.WebLog" >
    update t_weblog
    <set >
      <if test="remotAddr != null" >
        remotAddr = #{remotAddr,jdbcType=INTEGER},
      </if>
      <if test="module != null" >
        module = #{module,jdbcType=INTEGER},
      </if>
      <if test="createdby != null" >
        createdby = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="updatedby != null" >
        updatedby = #{updatedby,jdbcType=VARCHAR},
      </if>
      <if test="creationtime != null" >
        creationtime = #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertSelective" parameterType="com.czly.entity.WebLog" >
    insert into t_weblog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="remotAddr != null" >
        remotAddr,
      </if>
       <if test="module != null" >
        module,
      </if>
      <if test="createdby != null" >
        createdby,
      </if>
      <if test="updatedby != null" >
        updatedby,
      </if>
      <if test="creationtime != null" >
        creationtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="remotAddr != null" >
        #{remotAddr,jdbcType=VARCHAR},
      </if>
       <if test="module != null" >
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="updatedby != null" >
        #{updatedby,jdbcType=VARCHAR},
      </if>
      <if test="creationtime != null" >
        #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>