<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

    <!-- 扫描 service
	<context:component-scan base-package="com.czly.tus.service" />	 -->

	<!-- 使用MethodInvokingJobDetailFactoryBean，任务类可以不实现Job接口，通过targetMethod指定调用方法-->
	
	<!-- network,每10秒检测一次网络 -->
	 <bean id="weChatArticleGetTask" class="com.czly.task.WeChatArticleGetTask">
	</bean>
	<bean id="sugarMedicalCaseService" class="com.czly.service.impl.SugarMedicalCaseServiceImpl"></bean>
	<bean id="weChatArticleGetTaskJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	    <property name="targetObject">
	        <ref bean="weChatArticleGetTask"/>
	    </property>
	    <property name="targetMethod">
	        <value>run</value>
	    </property>
	</bean>
	<bean id="weChatArticleGetTaskTrigger"
	      class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
	    <property name="jobDetail">
	        <ref bean="weChatArticleGetTaskJobDetail" />
	    </property>
	    <property name="cronExpression">
	        <value>0 50 23 * * ?</value>
	    </property>
	</bean>
	
	
	<!-- 调度工厂 -->
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="startupDelay" value="15"/>  
	    <property name="triggers">
	        <list>
	         <ref bean="weChatArticleGetTaskTrigger"/>
	        </list>
	    </property>
	</bean> 
    
</beans>
